{% import "trees/rhel9-base.j2" as base with context %}
{% set distro_requires = base.distro_requires %}
{% set ks_append = base.ks_append %}
{% set host_requires = base.host_requires %}
{% set kernel_options_post = base.kernel_options_post %}
{% set repos %}
<repo name="Nightly-BaseOS" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/BaseOS/{{ ARCH }}/os/"/>
<repo name="Nightly-AppStream" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/AppStream/{{ ARCH }}/os/"/>
<repo name="Nightly-CRB" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/CRB/{{ ARCH }}/os/"/>
{% if "rt" in COMPONENTS %}
  <repo name="Nightly-RT" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/RT/{{ ARCH }}/os/"/>
{% endif %}
{% endset %}
